/* background-color: #4d2079; */
body{
    box-sizing: border-box;
}
.container {
    display: flex;
    margin: 0px 0px;
    height: 70px;
    position: sticky;
    top: 0px;
    width: 100%;
}

.container::before {
    content: " ";
    background-color:rgb(45, 12, 73);
    z-index: -1;
    position: absolute;
    height: 70px;
    width: 100%;
    top: 0px;
    left: 0px;

}

#logodiv {
    width: 10%;
    display: flex;

}

#navbar {
    width: 70%;
}

#social {
    width: 20%;
    display: flex;
    justify-content: right;
    margin-right: 25px;
    margin-top: 12px;
}

#logo {
    height: 50px;
    width: 117px;
    display: block;
    margin: auto;
}

#navbar ul {
    display: flex;
    padding-inline-start: 0px;
    justify-content: center;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0px 25px;
    font-family: 'Arvo', serif;
    font-family: 'Faustina', serif;
    color: white
}

#navbar ul li a:hover {
    color: rgb(145, 138, 138);
}

#social img {
    height: 35px;
    width: 35px;
    padding: 0px 8px;
}

/* 
#home section */


.home
{
    display: flex;
    height: 500px;
    background-color: white;
}
#image6
{
    padding-left: 138px;
    padding-top: 117px;
    border-radius: 16px;
    height:262px;
}
.leftside
{
    width: 40%;
}
.rightside
{
    width: 60%;
    padding-top: 101px;
    padding-right: 10px;
}
.rightside h2{
    padding-right: 124px;
    font-weight: 300;
}

.rightside h1{
    font-size: 43px;
    color: #26b67c;
    font-weight:400
}

.start1
{
    padding: 11px;
    font-size: 22px;
    border-radius: 6px;
    
    margin-top: 19px;
    color: #fff;
    background-color: #27be82;
    border-color: #21a16e;
    border: none;
    text-decoration: none;
}
.start1:hover{
    background-color: #1f9868;
}


/* about section */

.about{
    display: flex;
    padding-left: 128px;
    padding-top: 82px;
    padding-right: 71px;
    column-gap: 0px;
    flex-wrap: wrap;
    background-color: #b774fa;
}

.about img{
    height: 350px;
    width: 600px;
    display: flex;
    margin: 20px;
    border-radius: 21px;
}

.about img:hover{
    opacity: 0.8;
}




/* second page css */

.headingname
{
    text-align: center;
    margin-top: 0px;
    padding-top: 62px;
    color: #d2c4c4;
    font-size: 41px;
    margin-right: 481px;
    margin-bottom: 37px;
}
.common
{
    display: flex;
    row-gap: 31px;
    column-gap: 31px;
    flex-wrap: wrap;
    margin-bottom: 39px;
 
}

.quiz
{
    display: flex;
    row-gap: 31px;
    column-gap: 31px;
    flex-wrap: wrap;
    margin-top: 39px;
    
   
}


.first, .second , .third , .fourth , .fifth , .sixth , .seventh , .eight
{
    
    border: 1px solid black;
    padding: 12px;
    width: 500px;
    height: 170px;
    border-radius: 9px;
    background-color: white;

}


.maindiv
{
    padding: 0px 174px;
    background-color: #4d2079;
    padding-bottom: 30px;
}
.firstbutton, .secondbutton , .thirdbutton , .fourthbutton , .fifthbutton , .sixthbutton , .seventhbutton, .eightbutton
{
    margin-top: 4px;
    width: 97%;
    background-color: #088352;
    border: none;
    padding: 6px;
    color: white;
    font-size: 16px;
    border-radius: 3px;
    text-decoration: none;
    display: block;
    text-align: center;
}
.firstbutton:hover, .secondbutton:hover , .thirdbutton:hover , .fourthbutton:hover , .fifthbutton:hover , .sixthbutton:hover , .seventhbutton:hover, .eightbutton:hover{
    cursor: pointer;
    background-color: #36a277;
}


